.patreon-position-1 {
  user-select: none;
  width: 100%;
}

.patreon-box {
  user-select: none;
  height: 220px;
  position: absolute;
  color: white;
  z-index: 11;
  display: block;
}

.patreon-image {
  user-select: none;
  position: absolute;
  color: white;
  z-index: 12;
  display: block;
  width: 234px;
  height: 144px;
  margin-top: 34px;
  margin-right: 8.5%;
  top: 0;
  left: 1;
  right: 0;
  bottom: 0;
  border: #69503b 3px double;
}

.patreon-box:hover {
  cursor: pointer;
}
