.github-position-1 {
  user-select: none;
  width: 100%;
  margin-top: 221px;
}

.github-box {
  user-select: none;
  height: 220px;
  position: absolute;
  color: white;
  z-index: 11;
  display: block;
}
.github-image {
  user-select: none;
  position: absolute;
  color: white;
  z-index: 11;
  display: block;
  width: 234px;
  height: 144px;
  margin-top: 34px;
  margin-right: 8.5%;
  top: 0;
  left: 1;
  right: 0;
  bottom: 0;
  filter: invert(93%);
  border: #9cb8cf 3px double;
}

.github-box:hover {
  cursor: pointer;
}
