html,
body {
  margin: 0;
  background-color: #111111;
  z-index: -1;
}

h3 {
  text-align: center;
}

h1 {
  margin: 0;
}

input {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}
.App {
  text-align: center;
  position: absolute;
  width: 100%;
  min-width: 1550px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.space-from-header {
  padding-top: 100px;
}

.homepage-body {
  margin-top: -33px;
  width: 100%;
  height: 1400px;
  color: #ffffff;
}

.background-site {
  width: 100%;
  height: 100%;
  min-height: 1080px;
  background-image: url('../../components/App/App_public/bg_body.jpg');
  background-repeat: repeat-y;
  background-size: 100%;
  object-fit: cover;
  background-color: #111111;
  z-index: 0;
  position: fixed;
}

.homepage-body-content {
  align-content: center;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 10;
}

.homepage-center {
  display: inline-flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.homepage-discord {
  margin-top: -15px;
  width: 16%;
  min-width: 350px;
  height: 100%;
  text-align: right;
}
.homepage-faq {
  align-self: center;
  margin-left: 12px;
  width: 60%;
  height: 100%;
}
.homepage-links {
  width: 16%;
  height: 100%;
}

.homepage-spacer {
  width: 4%;
  height: 100%;
}
